@import '@/vars.scss';

.login-wrapper{
    .login-el-form{
        margin-top: 16px;
        .login-el-form-item{
            &.select-identity{
                .el-select{
                    width: 100%;
                }
            }
            &.password__content{
                margin-bottom: 8px;
            }
            &.remember-pwd{
                margin-bottom: 0;
                .el-checkbox__label{
                    font-size: 12px;
                    padding-left: 8px;
                }
            }
            .el-button{
                width: 100%;
                background-color: $theme_color;
                box-shadow: 0 4px 8px 0 rgba($color: #000000, $alpha: 0.3);
                border: none;
                letter-spacing: 1px;
                &:hover{
                    box-shadow: 0 6px 10px 0 rgba($color: #000000, $alpha: 0.3);
                }
                &:active {
                    box-shadow: 0 2px 6px 0 rgba($color: #000000, $alpha: 0.32);
                }
            }
        }
    }
    .login__bottom-info{
        .register-forget{
            display: flex;
            justify-content: space-between;
            align-items: center;
            span {
                user-select: none;
                font-size: 13px;
                color: $default_font_color;
                cursor: pointer;
                transition: all .2s;
                &:nth-of-type(2) {
                    color: $theme_color;
                    &:hover{
                        font-weight: 600;
                    }
                }
                &:nth-of-type(1) {
                    &:hover{
                        color: $theme_color;
                    }
                }
            }
        }
        .login__bottom-line{
            height: 1px;
            background-color: rgba($color: #000000, $alpha: 0.3);
            box-shadow: 0 0 1px rgba($color: #000000, $alpha: 0.3);
            margin: 12px 0;
        }
        .disclaimer-text{
            font-size: 0;
            .el-checkbox__label{
                font-size: 12px;
                transition: all .2s;
                a {
                    color: $theme_color;
                }
            }
        }
    }
}